/* Based on ng-template cdkColumnDef */
.mat-column-serialNumber {
  flex: 0 0 40px;
}

.mat-column-planScriptName {
  flex: 1 0 400px;
  padding-right: 10px;
  vertical-align: middle;
  white-space: nowrap;
}

.mat-column-planScriptType {
  flex: 0 0 70px;
}