<h1 mat-dialog-title>About</h1>
<div mat-dialog-content class="about-dialog-container" style="text-align: center">
  <div style="text-align: center">
    <img src="assets/images/ImageStreamerLogo.svg" width="96px" height="96px"
      style="margin: 20px auto;"/>
  </div>
  <h1>ABSee v{{ version }} </h1>
  <h3 style="font-weight: bold">Image Streamer Artifact Bundle Viewer</h3>
  <p>&copy; 2019 Hewlett Packard Enterprise.</p>
  <p>All rights reserved.</p>
</div>
<div mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close (click)="closeDialog()">Close</button>
</div>