h3 {
    margin-top: 15px;
    margin-bottom: 0px; 
}

mat-label {
    margin-right: 10px;
}

mat-radio-button {
    margin-left: 5px;
    margin-right: 5px;
}

.diff-options-dialog-types {
    padding-top: 10px;
    padding-bottom: 10px;
}