<div class="artifact-info">
  <h2>{{ planScript.name }} </h2>
  <div>    
    <div>
      <div class="artifact-info-heading">Description</div>
      <div class="artifact-info-value">{{planScript.description}}</div>
    </div>
    <div>
      <div class="artifact-info-heading">Type</div>
      <div class="artifact-info-value">{{planScript.planType | titlecase}}</div>
    </div>
    <div>
      <div class="artifact-info-heading">Read-only</div>
      <div class="artifact-info-value">{{ (planScript.readOnly) ? 'Yes' : 'No' }}</div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <h3>Script</h3>
  <div>    
    <pre class="line-numbers plan-script-content" style="white-space: pre-wrap; width: inherit"><code class="language-bash" 
      style="font-size: 90%"
      [innerHtml]="planScript.content | syntaxHighlight"></code></pre>
  </div>
</div>